#Python
venv/
pycache/
*.pyc
*.pyo
*.pyd
/thumbnail_cache
/temp_thumbnail_cache
/video_cache
/chroma_db
/database/processing_queue.sqlite3
/database/processing_queue.sqlite3-*
__pycache__/
*.pyc

#Environment files
.env

#IDE and OS files
.idea/
.vscode/
graphify-out/
*.DS_Store
*.xlsx
libs/
wheels/
packages/
download_cache/
web.config
