#Python
venv/
pycache/
*.pyc
*.pyo
*.pyd
/thumbnail_cache
/video_cache
/chroma_db
__pycache__/
*.pyc

#Environment files
.env

#IDE and OS files
.idea/
.vscode/
*.DS_Store
*.xlsx
/libs/annotated_doc-0.0.4-py3-none-any.whl
/libs/annotated_types-0.7.0-py3-none-any.whl
/libs/anyio-4.12.0-py3-none-any.whl
/libs/asgiref-3.11.0-py3-none-any.whl
/libs/attrs-25.4.0-py3-none-any.whl
/libs/backoff-2.2.1-py3-none-any.whl
/libs/bcrypt-5.0.0-cp39-abi3-win_amd64.whl
/libs/build-1.3.0-py3-none-any.whl
/libs/cachetools-6.2.4-py3-none-any.whl
/libs/certifi-2025.11.12-py3-none-any.whl
/libs/cffi-2.0.0-cp312-cp312-win_amd64.whl
/libs/charset_normalizer-3.4.4-cp312-cp312-win_amd64.whl
/libs/chroma-hnswlib-0.7.3.tar.gz
/libs/chromadb-0.4.24-py3-none-any.whl
/libs/click-8.3.1-py3-none-any.whl
/libs/colorama-0.4.6-py2.py3-none-any.whl
/libs/coloredlogs-15.0.1-py2.py3-none-any.whl
/libs/cryptography-46.0.3-cp311-abi3-win_amd64.whl
/libs/decorator-4.4.2-py2.py3-none-any.whl
/libs/distro-1.9.0-py3-none-any.whl
/libs/durationpy-0.10-py3-none-any.whl
/libs/fastapi-0.127.0-py3-none-any.whl
/libs/filelock-3.20.1-py3-none-any.whl
/libs/flatbuffers-25.12.19-py2.py3-none-any.whl
/libs/fsspec-2025.12.0-py3-none-any.whl
/libs/google_auth-2.45.0-py2.py3-none-any.whl
/libs/googleapis_common_protos-1.72.0-py3-none-any.whl
/libs/grpcio-1.76.0-cp312-cp312-win_amd64.whl
/libs/h11-0.16.0-py3-none-any.whl
/libs/hf_xet-1.2.0-cp37-abi3-win_amd64.whl
/libs/httpcore-1.0.9-py3-none-any.whl
/libs/httptools-0.7.1-cp312-cp312-win_amd64.whl
/libs/httpx-0.28.1-py3-none-any.whl
/libs/huggingface_hub-1.2.3-py3-none-any.whl
/libs/humanfriendly-10.0-py2.py3-none-any.whl
/libs/idna-3.11-py3-none-any.whl
/libs/imageio-2.37.2-py3-none-any.whl
/libs/imageio_ffmpeg-0.6.0-py3-none-win_amd64.whl
/libs/importlib_metadata-8.7.1-py3-none-any.whl
/libs/importlib_resources-6.5.2-py3-none-any.whl
/libs/isodate-0.7.2-py3-none-any.whl
/libs/itsdangerous-2.2.0-py3-none-any.whl
/libs/kubernetes-34.1.0-py2.py3-none-any.whl
/libs/lxml-6.0.2-cp312-cp312-win_amd64.whl
/libs/markdown_it_py-4.0.0-py3-none-any.whl
/libs/markupsafe-3.0.3-cp312-cp312-win_amd64.whl
/libs/marshmallow-3.20.1-py3-none-any.whl
/libs/mdurl-0.1.2-py3-none-any.whl
/libs/mmh3-5.2.0-cp312-cp312-win_amd64.whl
/libs/moviepy-1.0.3.tar.gz
/libs/mpmath-1.3.0-py3-none-any.whl
/libs/numpy-1.26.4-cp312-cp312-win_amd64.whl
/libs/oauthlib-3.3.1-py3-none-any.whl
/libs/onnxruntime-1.23.2-cp312-cp312-win_amd64.whl
/libs/opentelemetry_api-1.39.1-py3-none-any.whl
/libs/opentelemetry_exporter_otlp_proto_common-1.39.1-py3-none-any.whl
/libs/opentelemetry_exporter_otlp_proto_grpc-1.39.1-py3-none-any.whl
/libs/opentelemetry_instrumentation-0.60b1-py3-none-any.whl
/libs/opentelemetry_instrumentation_asgi-0.60b1-py3-none-any.whl
/libs/opentelemetry_instrumentation_fastapi-0.60b1-py3-none-any.whl
/libs/opentelemetry_proto-1.39.1-py3-none-any.whl
/libs/opentelemetry_sdk-1.39.1-py3-none-any.whl
/libs/opentelemetry_semantic_conventions-0.60b1-py3-none-any.whl
/libs/opentelemetry_util_http-0.60b1-py3-none-any.whl
/libs/oracledb-3.4.1-cp312-cp312-win_amd64.whl
/libs/orjson-3.11.5-cp312-cp312-win_amd64.whl
/libs/overrides-7.7.0-py3-none-any.whl
/libs/packaging-25.0-py3-none-any.whl
/libs/pillow-12.0.0-cp312-cp312-win_amd64.whl
/libs/platformdirs-4.5.1-py3-none-any.whl
/libs/posthog-7.4.2-py3-none-any.whl
/libs/proglog-0.1.12-py3-none-any.whl
/libs/protobuf-6.33.2-cp310-abi3-win_amd64.whl
/libs/pulsar_client-3.8.0-cp312-cp312-win_amd64.whl
/libs/pyasn1-0.6.1-py3-none-any.whl
/libs/pyasn1_modules-0.4.2-py3-none-any.whl
/libs/pycparser-2.23-py3-none-any.whl
/libs/pydantic-2.12.5-py3-none-any.whl
/libs/pydantic_core-2.41.5-cp312-cp312-win_amd64.whl
/libs/pygments-2.19.2-py3-none-any.whl
/libs/pymupdf-1.26.7-cp310-abi3-win_amd64.whl
/libs/PyPika-0.48.9.tar.gz
/libs/pyproject_hooks-1.2.0-py3-none-any.whl
/libs/pyreadline3-3.5.4-py3-none-any.whl
/libs/python_dateutil-2.9.0.post0-py2.py3-none-any.whl
/libs/python_dotenv-1.2.1-py3-none-any.whl
/libs/python_multipart-0.0.21-py3-none-any.whl
/libs/pytz-2025.2-py2.py3-none-any.whl
/libs/pyyaml-6.0.3-cp312-cp312-win_amd64.whl
/libs/requests-2.32.5-py3-none-any.whl
/libs/requests_file-3.0.1-py2.py3-none-any.whl
/libs/requests_oauthlib-2.0.0-py2.py3-none-any.whl
/libs/requests_toolbelt-1.0.0-py2.py3-none-any.whl
/libs/rich-14.2.0-py3-none-any.whl
/libs/rsa-4.9.1-py3-none-any.whl
/libs/shellingham-1.5.4-py2.py3-none-any.whl
/libs/six-1.17.0-py2.py3-none-any.whl
/libs/starlette-0.50.0-py3-none-any.whl
/libs/sympy-1.14.0-py3-none-any.whl
/libs/tenacity-9.1.2-py3-none-any.whl
/libs/tokenizers-0.22.1-cp39-abi3-win_amd64.whl
/libs/tqdm-4.67.1-py3-none-any.whl
/libs/typer-0.20.1-py3-none-any.whl
/libs/typer_slim-0.20.1-py3-none-any.whl
/libs/typing_extensions-4.15.0-py3-none-any.whl
/libs/typing_inspection-0.4.2-py3-none-any.whl
/libs/urllib3-2.3.0-py3-none-any.whl
/libs/uvicorn-0.40.0-py3-none-any.whl
/libs/watchfiles-1.1.1-cp312-cp312-win_amd64.whl
/libs/websocket_client-1.9.0-py3-none-any.whl
/libs/websockets-15.0.1-cp312-cp312-win_amd64.whl
/libs/werkzeug-3.1.4-py3-none-any.whl
/libs/wrapt-1.17.3-cp312-cp312-win_amd64.whl
/libs/zeep-4.3.2-py3-none-any.whl
/libs/zipp-3.23.0-py3-none-any.whl
/wheels/annotated_doc-0.0.4-py3-none-any.whl
/wheels/annotated_types-0.7.0-py3-none-any.whl
/wheels/anyio-4.12.0-py3-none-any.whl
/wheels/asgiref-3.11.0-py3-none-any.whl
/wheels/attrs-25.4.0-py3-none-any.whl
/wheels/backoff-2.2.1-py3-none-any.whl
/wheels/bcrypt-5.0.0-cp39-abi3-win_amd64.whl
/wheels/build-1.3.0-py3-none-any.whl
/wheels/cachetools-6.2.4-py3-none-any.whl
/wheels/certifi-2025.11.12-py3-none-any.whl
/wheels/cffi-2.0.0-cp312-cp312-win_amd64.whl
/wheels/charset_normalizer-3.4.4-cp312-cp312-win_amd64.whl
/wheels/chroma-hnswlib-0.7.3.tar.gz
/wheels/chromadb-0.4.24-py3-none-any.whl
/wheels/click-8.3.1-py3-none-any.whl
/wheels/colorama-0.4.6-py2.py3-none-any.whl
/wheels/coloredlogs-15.0.1-py2.py3-none-any.whl
/wheels/cryptography-46.0.3-cp311-abi3-win_amd64.whl
/wheels/decorator-4.4.2-py2.py3-none-any.whl
/wheels/distro-1.9.0-py3-none-any.whl
/wheels/durationpy-0.10-py3-none-any.whl
/wheels/fastapi-0.127.0-py3-none-any.whl
/wheels/filelock-3.20.1-py3-none-any.whl
/wheels/flatbuffers-25.12.19-py2.py3-none-any.whl
/wheels/fsspec-2025.12.0-py3-none-any.whl
/wheels/google_auth-2.45.0-py2.py3-none-any.whl
/wheels/googleapis_common_protos-1.72.0-py3-none-any.whl
/wheels/grpcio-1.76.0-cp312-cp312-win_amd64.whl
/wheels/h11-0.16.0-py3-none-any.whl
/wheels/hf_xet-1.2.0-cp37-abi3-win_amd64.whl
/wheels/httpcore-1.0.9-py3-none-any.whl
/wheels/httptools-0.7.1-cp312-cp312-win_amd64.whl
/wheels/httpx-0.28.1-py3-none-any.whl
/wheels/huggingface_hub-1.2.3-py3-none-any.whl
/wheels/humanfriendly-10.0-py2.py3-none-any.whl
/wheels/idna-3.11-py3-none-any.whl
/wheels/imageio-2.37.2-py3-none-any.whl
/wheels/imageio_ffmpeg-0.6.0-py3-none-win_amd64.whl
/wheels/importlib_metadata-8.7.1-py3-none-any.whl
/wheels/importlib_resources-6.5.2-py3-none-any.whl
/wheels/isodate-0.7.2-py3-none-any.whl
/wheels/itsdangerous-2.2.0-py3-none-any.whl
/wheels/kubernetes-34.1.0-py2.py3-none-any.whl
/wheels/lxml-6.0.2-cp312-cp312-win_amd64.whl
/wheels/markdown_it_py-4.0.0-py3-none-any.whl
/wheels/markupsafe-3.0.3-cp312-cp312-win_amd64.whl
/wheels/marshmallow-3.20.1-py3-none-any.whl
/wheels/mdurl-0.1.2-py3-none-any.whl
/wheels/mmh3-5.2.0-cp312-cp312-win_amd64.whl
/wheels/moviepy-1.0.3.tar.gz
/wheels/mpmath-1.3.0-py3-none-any.whl
/wheels/numpy-1.26.4-cp312-cp312-win_amd64.whl
/wheels/oauthlib-3.3.1-py3-none-any.whl
/wheels/onnxruntime-1.23.2-cp312-cp312-win_amd64.whl
/wheels/opentelemetry_api-1.39.1-py3-none-any.whl
/wheels/opentelemetry_exporter_otlp_proto_common-1.39.1-py3-none-any.whl
/wheels/opentelemetry_exporter_otlp_proto_grpc-1.39.1-py3-none-any.whl
/wheels/opentelemetry_instrumentation-0.60b1-py3-none-any.whl
/wheels/opentelemetry_instrumentation_asgi-0.60b1-py3-none-any.whl
/wheels/opentelemetry_instrumentation_fastapi-0.60b1-py3-none-any.whl
/wheels/opentelemetry_proto-1.39.1-py3-none-any.whl
/wheels/opentelemetry_sdk-1.39.1-py3-none-any.whl
/wheels/opentelemetry_semantic_conventions-0.60b1-py3-none-any.whl
/wheels/opentelemetry_util_http-0.60b1-py3-none-any.whl
/wheels/oracledb-3.4.1-cp312-cp312-win_amd64.whl
/wheels/orjson-3.11.5-cp312-cp312-win_amd64.whl
/wheels/overrides-7.7.0-py3-none-any.whl
/wheels/packaging-25.0-py3-none-any.whl
/wheels/pillow-12.0.0-cp312-cp312-win_amd64.whl
/wheels/platformdirs-4.5.1-py3-none-any.whl
/wheels/posthog-7.4.2-py3-none-any.whl
/wheels/proglog-0.1.12-py3-none-any.whl
/wheels/protobuf-6.33.2-cp310-abi3-win_amd64.whl
/wheels/pulsar_client-3.8.0-cp312-cp312-win_amd64.whl
/wheels/pyasn1-0.6.1-py3-none-any.whl
/wheels/pyasn1_modules-0.4.2-py3-none-any.whl
/wheels/pycparser-2.23-py3-none-any.whl
/wheels/pydantic-2.12.5-py3-none-any.whl
/wheels/pydantic_core-2.41.5-cp312-cp312-win_amd64.whl
/wheels/pygments-2.19.2-py3-none-any.whl
/wheels/pymupdf-1.26.7-cp310-abi3-win_amd64.whl
/wheels/PyPika-0.48.9.tar.gz
/wheels/pyproject_hooks-1.2.0-py3-none-any.whl
/wheels/pyreadline3-3.5.4-py3-none-any.whl
/wheels/python_dateutil-2.9.0.post0-py2.py3-none-any.whl
/wheels/python_dotenv-1.2.1-py3-none-any.whl
/wheels/python_multipart-0.0.21-py3-none-any.whl
/wheels/pytz-2025.2-py2.py3-none-any.whl
/wheels/pyyaml-6.0.3-cp312-cp312-win_amd64.whl
/wheels/requests-2.32.5-py3-none-any.whl
/wheels/requests_file-3.0.1-py2.py3-none-any.whl
/wheels/requests_oauthlib-2.0.0-py2.py3-none-any.whl
/wheels/requests_toolbelt-1.0.0-py2.py3-none-any.whl
/wheels/rich-14.2.0-py3-none-any.whl
/wheels/rsa-4.9.1-py3-none-any.whl
/wheels/setup_server.bat
/wheels/shellingham-1.5.4-py2.py3-none-any.whl
/wheels/six-1.17.0-py2.py3-none-any.whl
/wheels/starlette-0.50.0-py3-none-any.whl
/wheels/sympy-1.14.0-py3-none-any.whl
/wheels/tenacity-9.1.2-py3-none-any.whl
/wheels/tokenizers-0.22.1-cp39-abi3-win_amd64.whl
/wheels/tqdm-4.67.1-py3-none-any.whl
/wheels/typer-0.20.1-py3-none-any.whl
/wheels/typer_slim-0.20.1-py3-none-any.whl
/wheels/typing_extensions-4.15.0-py3-none-any.whl
/wheels/typing_inspection-0.4.2-py3-none-any.whl
/wheels/urllib3-2.3.0-py3-none-any.whl
/wheels/uvicorn-0.40.0-py3-none-any.whl
/wheels/watchfiles-1.1.1-cp312-cp312-win_amd64.whl
/wheels/websocket_client-1.9.0-py3-none-any.whl
/wheels/websockets-15.0.1-cp312-cp312-win_amd64.whl
/wheels/werkzeug-3.1.4-py3-none-any.whl
/wheels/wrapt-1.17.3-cp312-cp312-win_amd64.whl
/wheels/zeep-4.3.2-py3-none-any.whl
/wheels/zipp-3.23.0-py3-none-any.whl
