<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>

        <httpPlatform processPath="C:\edms\edms_api\venv\Scripts\python.exe"
                      arguments="-m uvicorn app:app --host 127.0.0.1 --port %HTTP_PLATFORM_PORT%"
                      stdoutLogEnabled="false"
                      stdoutLogFile=".\python_logs.log"
                      startupTimeLimit="60">
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="C:\edms\edms_api" />
                <environmentVariable name="WSDL_URL" value="" />
                <environmentVariable name="DMS_USER" value="test_user1" />
                <environmentVariable name="DMS_PASSWORD" value="" />
                <environmentVariable name="DB_HOST" value="" />
                <environmentVariable name="DB_PORT" value="" />
                <environmentVariable name="DB_SERVICE_NAME" value="" />
                <environmentVariable name="DB_USERNAME" value="DOCSADM" />
                <environmentVariable name="DB_PASSWORD" value="" />
                <environmentVariable name="CAPTIONING_API_URL" value="http://localhost:5001" />
                <environmentVariable name="OCR_API_URL" value="http://localhost:5004" />
                <environmentVariable name="FACE_API_URL" value="http://localhost:5002" />
                <environmentVariable name="VIDEO_SUMMARIZER_API_URL" value="http://localhost:5008" />
                <environmentVariable name="TRANSLATOR_REPHRASER_API_URL" value="http://localhost:5005" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>